﻿.footerStyle {
    background-color: hsl(192, 77%, 9%);
    color: var(--cf-light-color);
}

.footerStyle a {
    color: #87bbd7;
}

    .footerStyle a:hover {
        color: #f2c864;
    }

.footerStyle .bi {
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}
